//
//  TWProjectRelease.xcconfig
//
//  Copyright 2011 Trollwerks Inc. All rights reserved.
//

VALIDATE_PRODUCT = YES
CODE_SIGN_IDENTITY = iPhone Distribution 
CODE_SIGN_ENTITLEMENTS = config/TWEntitlementsRelease.plist

TW_CONFIGURATION_GCC_PREPROCESSOR_DEFINITIONS = NDEBUG=1 NS_BLOCK_ASSERTIONS=1

ONLY_ACTIVE_ARCH = NO

GCC_OPTIMIZATION_LEVEL = s
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_DYNAMIC_NO_PIC = YES

GCC_TREAT_WARNINGS_AS_ERRORS = YES

// we do want to generate a .dSYM file so we can symbolicate iTunes crash reports
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
DEPLOYMENT_POSTPROCESSING = YES
COPY_PHASE_STRIP = YES
DEAD_CODE_STRIPPING = YES
STRIP_STYLE = all

// ASSERT going away in release tends to create unused vars.
//TW_CONFIGURATION_WARNING_CFLAGS = -Wno-unused-variable -Winit-self -Wno-extra

// -Wno-unused-parameter needed because of "unused parameter 'value'" garbage from @synthesize in gcc 4.0
// init-self can only be turned on when optimizations are on
TW_CONFIGURATION_WARNING_CFLAGS = -Wno-unused-parameter -Winit-self

#include "TWProjectBase.xcconfig"
