<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file</key>
		<string>tracks.plist</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>playlists.plist</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>playlists-lite.plist</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>introduction.html</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>introduction-lite.html</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>moreinfo.html</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/1endalert.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/1endsleep.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/1introalert.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/1introsleep.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/2prorelax.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/2roc.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/2rocslow.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/2tc.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/3belly.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/3breathaware.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/3heal.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/4gardenguide.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/4quickimages.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/4safeplace.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/4slowimages.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/4underocean.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/5daysleep.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/5deepsleep.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/5ego.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/5mindexpand.caf</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
</array>
</plist>
