<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file</key>
		<string>tracks.plist</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>playlists.plist</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>playlists-lite.plist</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>introduction.html</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>introduction-lite.html</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>moreinfo.html</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/A1.caf</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/A2.caf</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/A3.caf</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/A4.caf</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/B1.caf</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/B2.caf</string>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/B3.caf</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/B4.caf</string>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/C1.caf</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/C2.caf</string>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/C3.caf</string>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/C4.caf</string>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/D1.caf</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/D2.caf</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/D3.caf</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/D4.caf</string>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/E1.caf</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/E2.caf</string>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/E3.caf</string>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/F1.caf</string>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/F2.caf</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/F3.caf</string>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>file</key>
		<string>tracks/F4.caf</string>
		<key>version</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
