<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>Sleep</string>
		<key>components</key>
		<array>
			<string>1introsleep</string>
			<string>2prorelax</string>
			<string>4safeplace</string>
			<string>5deepsleep</string>
			<string>1endsleep</string>
		</array>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Welcome to Yoga Sleep</string>
		<key>time</key>
		<integer>1896</integer>
	</dict>
	<dict>
		<key>category</key>
		<string>Alert</string>
		<key>components</key>
		<array>
			<string>1introalert</string>
			<string>2prorelax</string>
			<string>4safeplace</string>
			<string>1endalert</string>
		</array>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Welcome to Yoga Alert</string>
		<key>time</key>
		<integer>1297</integer>
	</dict>
</array>
</plist>
