<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1introsleep</string>
		<key>name</key>
		<string>Intro Sleep</string>
		<key>time</key>
		<integer>141</integer>
		<key>category</key>
		<string>Sleep</string>
		<key>description</key>
		<string>Introduction for a sleep practise.</string>
		<key>file</key>
		<string>1introsleep.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1introalert</string>
		<key>name</key>
		<string>Intro Alert</string>
		<key>time</key>
		<integer>130</integer>
		<key>category</key>
		<string>Alert</string>
		<key>description</key>
		<string>Introduction for an alert practise.</string>
		<key>file</key>
		<string>1introalert.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1endsleep</string>
		<key>name</key>
		<string>Ending to Sleep</string>
		<key>time</key>
		<integer>76</integer>
		<key>category</key>
		<string>Sleep</string>
		<key>description</key>
		<string>Use to flow into sleep at the end of the practise.</string>
		<key>file</key>
		<string>1endsleep.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1endalert</string>
		<key>name</key>
		<string>Ending to Wake</string>
		<key>time</key>
		<integer>69</integer>
		<key>category</key>
		<string>Alert</string>
		<key>description</key>
		<string>Use to wake up at the end of the practise.</string>
		<key>file</key>
		<string>1endalert.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2roc</string>
		<key>name</key>
		<string>Rotation of Consciousness</string>
		<key>time</key>
		<integer>212</integer>
		<key>category</key>
		<string>General</string>
		<key>description</key>
		<string>A Yoga Nidra technique used to bring awareness to all parts of the body, keep the mind occupied, strengthen the mind body connection and relax the physical body. If regularly performing a sleep and alert practise, see introduction for reccomendations.							</string>
		<key>file</key>
		<string>2roc.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2rocslow</string>
		<key>name</key>
		<string>Slow Rotation of Consciousness</string>
		<key>time</key>
		<integer>262</integer>
		<key>category</key>
		<string>General</string>
		<key>description</key>
		<string>A slower version of Rotation of Consciousness. This version can be used to maximize feelings of relaxation and of progressing deeper after 1 or 2 rounds of the regular version.							</string>
		<key>file</key>
		<string>2rocslow.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2tc</string>
		<key>name</key>
		<string>Tension Control</string>
		<key>time</key>
		<integer>691</integer>
		<key>category</key>
		<string>General</string>
		<key>description</key>
		<string>A Behavioural therapy technique where muscle groups are tensed and then relaxed deeply. This method can deliver huge benefits including very deep awareness of muscular tension leading to far greater general self awreness when used on a regular basis.							</string>
		<key>file</key>
		<string>2tc.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2prorelax</string>
		<key>name</key>
		<string>Progressive Relaxation</string>
		<key>time</key>
		<integer>415</integer>
		<key>category</key>
		<string>General</string>
		<key>description</key>
		<string>Suggestions of relaxation are given from the feet moving up the body. It can sometimes help to give the sensation a colour.							</string>
		<key>file</key>
		<string>2prorelax.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3breathaware</string>
		<key>name</key>
		<string>Breath Awareness</string>
		<key>time</key>
		<integer>162</integer>
		<key>category</key>
		<string>General</string>
		<key>description</key>
		<string>The breath is just observed and counted.</string>
		<key>file</key>
		<string>3breathaware.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3belly</string>
		<key>name</key>
		<string>Belly Breathing</string>
		<key>time</key>
		<integer>165</integer>
		<key>category</key>
		<string>General</string>
		<key>description</key>
		<string>This method brings air deep to the bottom of the lungs where it is absorbed more fully. Can greatly help in eliminating shallow chest breathing.							</string>
		<key>file</key>
		<string>3belly.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3heal</string>
		<key>name</key>
		<string>Healing Breath</string>
		<key>time</key>
		<integer>172</integer>
		<key>category</key>
		<string>General</string>
		<key>description</key>
		<string>A short inhale is followed by holding the breath then a long exhale. This technique can help improve the breathing by extending the exhale generally.							</string>
		<key>file</key>
		<string>3heal.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4safeplace</string>
		<key>name</key>
		<string>Safe Place</string>
		<key>time</key>
		<integer>339</integer>
		<key>category</key>
		<string>General</string>
		<key>description</key>
		<string>Relaxing imagery of being on a deserted beach. </string>
		<key>file</key>
		<string>4safeplace.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4gardenguide</string>
		<key>name</key>
		<string>Garden Guide</string>
		<key>time</key>
		<integer>246</integer>
		<key>category</key>
		<string>General</string>
		<key>description</key>
		<string>Imagery of being in a garden and meeting a guide figure. Can help the listener in answering questions or making decisions.							</string>
		<key>file</key>
		<string>4gardenguide.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4quickimages</string>
		<key>name</key>
		<string>Quick Images</string>
		<key>time</key>
		<integer>123</integer>
		<key>category</key>
		<string>General</string>
		<key>description</key>
		<string>A yoga nidra technique of picturing a series of rapid images. This technique is great for focusing the mind and it is also assists in developing the ability to vizualize. The images used can also have significant associations in our subconscious minds.							</string>
		<key>file</key>
		<string>4quickimages.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4slowimages</string>
		<key>name</key>
		<string>Slow Images</string>
		<key>time</key>
		<integer>155</integer>
		<key>category</key>
		<string>General</string>
		<key>description</key>
		<string>Slower images</string>
		<key>file</key>
		<string>4slowimages.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4underocean</string>
		<key>name</key>
		<string>Under The Ocen</string>
		<key>time</key>
		<integer>106</integer>
		<key>category</key>
		<string>Alert</string>
		<key>description</key>
		<string>Under the Ocean</string>
		<key>file</key>
		<string>4underocean.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5deepsleep</string>
		<key>name</key>
		<string>Deep Sleep at night</string>
		<key>time</key>
		<integer>278</integer>
		<key>category</key>
		<string>Sleep</string>
		<key>description</key>
		<string>This recording promotes deep relaxation on a physical, conscious and unsconscious level. The core of any sleep practise.							</string>
		<key>file</key>
		<string>5deepsleep.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5ego</string>
		<key>name</key>
		<string>Ego Strengthening</string>
		<key>time</key>
		<integer>339</integer>
		<key>category</key>
		<string>General</string>
		<key>description</key>
		<string>A highly effective cognitive therapy technique for building self esteem and general development. Reccommended as part of any alert practise, can also be used in a sleep practise.							</string>
		<key>file</key>
		<string>5ego.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5daysleep</string>
		<key>name</key>
		<string>Deep Sleep Confidence</string>
		<key>time</key>
		<integer>132</integer>
		<key>category</key>
		<string>General</string>
		<key>description</key>
		<string></string>
		<key>file</key>
		<string>5daysleep.caf</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5mindexpand</string>
		<key>name</key>
		<string>Mind Expansion</string>
		<key>time</key>
		<integer>124</integer>
		<key>category</key>
		<string>Alert</string>
		<key>description</key>
		<string>Mind Expansion</string>
		<key>file</key>
		<string>5mindexpand.caf</string>
	</dict>
</array>
</plist>
